*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'Times New Roman';
    src:url(./aseet/font/times\ new\ roman/Times);
    
}
.div{
    border: 1px solid red;
}
body{
    background-color:#eae8d8;
}
.posi-rele{
    position: relative;
}
.posi-abs{
    position: absolute;
}
.container{
    width: 1180px;
    margin: 0 auto;
}
.row{
    display: flex;
}
.ml-a{
    margin-left: auto;
}
.fa-bars{
    color: #125e91;
}
.fa-magnifying-glass{
    color: #125e91;
    bottom: 72px;
    right: 1px;
}
.logo{
    margin-left:9px;
}
.align-center{
    align-content: center;
    
}
.search input{
    border: 0;
    background-color:transparent;
    border-bottom: 1px solid #125e91;
}
.menubar{
    line-height: 69px;
    padding-top: 20px;
}
.main-heading{
    width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px;
    top: 39px;
}
.main-heading h1{
    font-size: 107px;
    font-weight: 400;
    font-family: "Old Standard TT";
    color: #0b5e98;
    line-height: 96px;
}
.main-heading span{
    font-size: 33px;
    letter-spacing: -1px;
    line-height: 30px;
    color: #0b5e98;
    font-family: "Old Standard TT";
    text-align: center;
    bottom: 31px;
}
.est{
   left: -30px;

}
.sen1999{
    right: -20px;
}
.col33{
    width: 33.33%;
}
.text-center{
text-align: center;
font-size: 26px;
letter-spacing: -1px;
line-height: 44px;
color: #0b5e98;
font-weight: 500;
font-family: "DM Sans";
margin-top: 180px;
}
.text-justify{
    text-align: justify;
    font-size: 16px;
    color: #0b5e98;
    font-weight: 400;
    font-family: "DM Sans";
    margin: 0px 20px 0px 20px;
  
}
.align-item-end{
    align-items: flex-end;
}
.touch{
    background-color: #2f709a;
    color: #eae8d7;
}
.lern{
    /* margin:25px 146px; */
    color: #2f709a;
    
}
.head-but{
margin:33px 122px 25px 91px;
font-size: 16px;
letter-spacing: -1px;
font-weight: 500;
font-family: "DM Sans";
text-align: center;
border: 1px solid #2f709a;
border-radius: 50px;
width: 180px;
letter-spacing: 1px;
}
.head-line{
top: 20px;
border: none;
height: 2px;
background: #2f709a;
}
.head-text-center{
text-align: center;
font-size: 16px;
letter-spacing: -1px;
line-height: 27px;
color: #0b5e98;
font-weight: 500;
font-family: "DM Sans";
}
.group-2{
    background-color: rgb( 17, 92, 144 );
    width: 1340px;
    margin: 0 auto;
}
.container-2{
    width: 1230px;
}
.paregraph-g2 p{
    font: 32px;
}
.img1{
    height: 777px;
    flex: end;
}
.img2{
}
.paregraph-g2 p{
    text-align: center;
    font-size: 48px;
    letter-spacing: -2px;
    color: #e9e8d9;
    font-weight: 400;
    font-style: italic;
    font-family: "Old Standard TT";
    width: 547px;
}
.paregraph-g2 h3{
text-align: center;
font-size: 26px;
letter-spacing: -1px;
color: #e9e8d9;
font-weight: 500;
font-family: "DM Sans";
}

   
  
